.header {
  align-items: center;
  background-color: #F7B094;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  &__searchbar {
    display: flex;
    width: 50%;
  
    &__input {
      border: none;
      border-radius: .3rem 0 0 .3rem;
      outline: none;
      padding: 1rem;
      width: 100%;
    }

    &__button {
      border: none;
      background-color: white;
      border-radius: 0 .3rem .3rem 0;
      color: #345C7D;
      font-weight: bold;
      padding-right: 1rem;

      &:disabled {
        color: grey;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__div {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 1rem;

      &__link {
        text-decoration: none;
      
        &:hover {
          text-decoration: underline;
        }
      }

      &__button {
        background-color: #F5717F;
        border: none;
        border-radius: 50%;
        padding: .5rem .7rem;
        
        &__title {
          color: white;
          font-weight: bold;
          margin-top: .5rem;

          &:hover {
            cursor: pointer;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    flex-wrap: wrap;
    padding: 1rem 0 0 0;

    &__searchbar {
      order: 3;
      width: 100%;
    }

    &__logo {
      padding-left: 2rem;
    }

    &__buttons {
      &__div {
        &__button {
            width: 4rem;
            height: 4rem;
          &__title {
            display: none;
          }
        }
      }
    }
  }
}