.highlights {
  background-color: #F7B094;
  padding: 4rem 0 2rem 0;

  &__title {
    color: white;
    text-align: center;
    &__span {
      color: #345C7D;
    }
  }

  &__carousel {
    margin: 3rem;
  }
}

.item-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 28rem;
  margin: .5rem;
  padding: 1rem;

  &__image-link {
    align-self: center;
    
    &__image {
      height: 15rem;
      margin-bottom: 1rem;
      width: 100%;
    }
  }


  &__title-link {
    color: #345C7D;
    padding-bottom: .5rem;
    text-decoration: none;

    &__title {
      font-size: .8rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__price {
    color: #F5717F;
    font-weight: bold;
    padding-bottom: .7rem;
  }

  &__rate {
  align-self: center; 
  }

  &__button-div {
    align-items: center;
    background-color: #FF8A00;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    padding: .3rem;

    &__added {
      align-items: center;
      background-color: green;
      border-radius: .3rem;
      display: flex;
      justify-content: center;
      margin: 1rem 0 1rem 0;
      padding: .3rem;
    }

    &__button {
      background-color: transparent;
      border: none;
    }

    &__title {
      color: white;
      font-size: .8rem;
      font-weight: bold;
      margin-left: .3rem;
    }

    &:hover {
      cursor: pointer;
      opacity: .8;
      transition: 1000ms;
    }
  }
};