.navbar {
  &__list {
    display: flex;
    background-color: #F5717F;
    justify-content: space-around;
    padding: 1rem;

    &__item {
      color: white;
      font-weight: bold;
      list-style: none;
    }
  }
}