.social {
  background-color: #F1F1F1;
  padding-top: 2rem;
  color: #345C7D;

  &__medias {
    &__title {
      text-align: center;
      font-size: 1.5rem;
    }

    &__list {
      display: flex;
      justify-content: center;
      list-style: none;
      margin-top: 1rem;

      &__item {
        margin: 0 1rem;
        width: 3rem;

        &__link {
          color: #F5717F;

          &:hover {
            opacity: .8;
            transition: 500ms;
          }
        }
      }
    }
  }
  
  &__navbar {
    display: flex;
    justify-content: center;
    margin: 2rem;

    &__list {
      display: flex;
      list-style: none;

      &__item {
        margin: 1rem;
        font-weight: bold;

        &__link {
          color: #345C7D;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__payment-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    
    &__title {
      font-size: 1.5rem;
    }
  }
}